@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(203 213 225);
}

a {
  text-decoration: underline !important;
}

nav {
  background-color: rgb(30 41 59);
  color: rgb(255 255 255);

  display: flex;
  place-items: center;

  padding: 0.5rem 1rem;
}

nav>ul {
  display: inline-flex;
  place-items: center;
  gap: 1rem;
}

.contact-button {
  background-color: rgb(29 78 216);
  color: rgb(255 255 255);
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;

  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;
}

.contact-button:hover {
  background-color: rgb(59 130 246);
}

#logo {
  font-size: 1.5rem;
  line-height: 2rem;

  margin: 0.5rem;
}

#logo>a {
  text-decoration-line: none !important;

  display: inline-flex;
  place-items: center;
  gap: 0.75rem;
}

#divider {
  flex-grow: 1;
}

main {
  flex-direction: column;
}

#home-banner {
  position: relative;
  height: 60dvh;
  color: rgb(255 255 255);
  overflow: hidden;
}

#image-container {
  position: absolute;
  inset: 0;
}

#image-container>img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

#image-container>div {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

#text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
  z-index: 10;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

#text-container>p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

#logo-box {
  padding: 2rem;
  gap: 3rem;
  width: 100%;

  display: inline-flex;
  justify-content: center;
}

#logo-box>img {
  max-width: 6rem;
  height: 6rem;
}

#get-started {
  background-color: white;
}

#get-started>h2 {
  text-align: center;
  padding-top: 1rem;
}

#get-started>p {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#get-started>div {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

#footer {
    background-color: white;
}

#footer>p {
    text-align: center;
    padding: 1rem;
}

#services,#projects {
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#services>h2,#projects>h2 {
    text-align: center;
    padding-top: 1rem;
}

#services>div,#projects>div {
    display: flex;
    justify-content: center;
}

#services>div>div,#projects>div>div {
    padding: 1.5rem;
    background-color: white;
    margin: 1rem;
    border-color: rgb(148 163 184);
    border-width: 2px;
    border-radius: 0.5rem;
}

#services>div>div>h2,#projects>div>div>h2 {
    padding-bottom: 1rem;
}

#services>div>div>ul,#projects>div>div>ul {
    padding-left: 2rem;
    padding-right: 2rem;
    list-style-type: disc;
}

#contact-form-container {
    margin: 2rem auto;
    margin-right: auto;
    padding: 1rem;
    width: 100%;
    max-width: 550px;
    background-color: rgb(226 232 240);
    border-radius: 0.5rem;

    --tw-drop-shadow: drop-shadow(0 1.2px 1.2px rgba(0,0,0,0.8));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

#contact-form-container>h2 {
    padding-bottom: 2rem;
}

#contact-form-container>form>div {
    margin-bottom: 1.25rem;
}

#contact-form-container>form>div>label {
    padding-bottom: 0.5rem;
    display: block;
    font-weight: 500;
}

#contact-form-container>form>div>input, #contact-form-container>form>div>textarea {
    width: 100%;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: rgb(224 224 224);
    background-color: white;
    padding: 0.75rem;
    font-weight: 500;
    outline: 2px solid transparent;
    outline-offset: 2px;

    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

#contact-form-container>form>div>input:focus, #contact-form-container>form>div>textarea:focus {
    border-color: rgb(106 100 241);
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

h3 {
    padding-top: 1rem;
    font-size: 1.25rem;
}